<% title "ISIC export" %>

<!-- TODO: some stats -->

<p><%= link_to "Nieuwe leden exporteren",
               backend_isic_exports_path, :method => :POST %></p>

<table class="datagrid">
<thead>
  <tr>
    <th>Datum</th>
    <th>Aantal</th>
    <th>Status</th>
    <th>Gegevens</th>
    <th>Foto's</th>
  </tr>
</thead>
<tbody>
<% @exports.each do |export| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= l export.created_at, :format => :long %></td>
    <td><%= export.members.count %></td>
    <td><%= export.status %></td>
    <td></td>
    <td><%= link_to export.photos_file_name, [:photos, :backend, export] %></td>
    <td><%#<%= icon(:details, '', backend_member_path(member), :title => "Details") x</td>
    <td><%= icon(:delete, '', disable_backend_member_path(member),
              :title => "Verwijderen", :method => :post,
              :confirm => "Bent u zeker dat u dit lid wil verwijderen?") %></td>
  </tr>
<% end %>
</tbody>
</table>
