<% title "ISIC export" %>

<p><%= pluralize @unexported.count, 'nieuwe lidkaart', 'nieuwe lidkaarten' %>
  klaar voor export.
<% if @unexported.count > 0 %>
  <%= link_to "Nieuwe export aanmaken",
              backend_isic_exports_path, :method => :POST %></p>
<% end %></p>

<table class="datagrid">
<thead>
  <tr>
    <th>Datum</th>
    <th>Aantal</th>
    <th>Status</th>
    <th>Gegevens</th>
    <th>Foto's</th>
  </tr>
</thead>
<tbody>
<% @exports.each do |export| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= l export.created_at, :format => :long %></td>
    <td><%= export.members.count %></td>
    <td><%= export.status %></td>
    <td><%= link_to export.data_file_name, [:data, :backend, export] %></td>
    <td><%= link_to export.photos_file_name, [:photos, :backend, export] %></td>
  </tr>
<% end %>
</tbody>
</table>
