<% title "ISIC export" %>

<p><%= pluralize @cards_to_request.count, 'betaalde nieuwe lidkaart', 'betaalde nieuwe lidkaarten' %>
  klaar voor export, <%= pluralize @revalidated_cards.count, 'lidkaart', 'lidkaarten' %>
  te hervalideren.</p>
<p><%= form_tag backend_isic_exports_path, :method => :POST do %>
  <%= select_tag "club", raw("<option selected='selected' value=''>Alle kringen</option>") +
                         options_from_collection_for_select(@clubs, "id", "internal_name") %>
  <%= select_tag "type", options_for_select({ "Betaalde nieuwe kaarten" => "request_paid",
                                              "Alle nieuwe kaarten" => "request",
                                              "Gehervalideerde kaarten" => "revalidated"}, "request_paid") %>
  <%= submit_tag "Export aanmaken" %></p>
<% end %>

<table class="datagrid">
<thead>
  <tr>
    <th>Datum</th>
    <th>Kring</th>
    <th>Type</th>
    <th>Aantal</th>
    <th>Gegevens</th>
    <th>Foto's</th>
  </tr>
</thead>
<tbody>
<% @exports.each do |export| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= l export.created_at, :format => :long %></td>
    <td><%= Club.find(export.club_id).internal_name if export.club_id %></td>
    <td><%= export.export_type %></td>
    <td><%= export.members.count if export.members? %></td>
    <% if export.data_file_name? %>
    <td><%= link_to "Download .xls", [:data, :backend, export] %></td>
    <td><%= link_to "Download .zip", [:photos, :backend, export] %></td>
    <% else %>
    <td colspan="2"><em>wordt aangemaakt…</em></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
