<% title "Kringinstellingen #{@club.name}" %>
<p><%= link_to "« Terug naar overzicht", backend_root_path %></p>

<%= semantic_form_for @club, :url => backend_settings_path do |f| %>
  <%= f.inputs do %>
    <%= f.input :description, :as => :text,
        :label => "#{@club.name} is de …",
        :input_html => {:cols => 40, :rows => 4 } %>
    <%= f.input :isic_text, :as => :text,
        :hint => "Extra informatie die bij de ISIC-promo getoond wordt.",
        :input_html => {:cols => 40, :rows => 4 } %>
    <%= f.input :confirmation_text, :as => :text,
        :hint => "Tekst na registratie.",
        :input_html => {:cols => 40, :rows => 4 } %>
    <li><label>Kaartnummers</label><p><%= "#{@club.card_range.first} — #{@club.card_range.last}" %></p></li>
    <%= f.input :registration_method, :as => :select, :include_blank => false,
      :collection => {"Geen" => "none", "API" => "api", "Website" => "website", "Verborgen" => "hidden"} %>
      <%= f.input :uses_isic,
        :hint => "Als u dit wil veranderen, mail dan naar ict@fkgent.be",
        :input_html => { :disabled => true },
        :wrapper_html => { :class => "no-indent" } %>
    <%= f.input :isic_mail_option, :as => :select, :include_blank => false,
      :collection => { "Optie niet aanbieden" => Club::ISIC_MAIL_CARD_DISABLED,
                       "Optie aanbieden" => Club::ISIC_MAIL_CARD_OPTIONAL,
                       "Verplicht" => Club::ISIC_MAIL_CARD_FORCED } %>
    <li><label>API sleutel</label><p><code><%= @club.api_key %></code></p></li>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => "Wijzigen" %>
  <% end %>
<% end %>
