<%= render :partial => "club" %>

<div class="content-main">
<%= title "Inschrijven" %>
<%= semantic_form_for @member, :url => registration_general_path(@club) do |f| %>
  <% if @member.errors.any? %>
  <div id="error_explanation">
    <h3><% if @member.errors.count == 1 %>
      Er ontbreekt nog iets aan je gegevens:
    <% else %>
      Er ontbreken nog enkele zaken aan je gegevens:
    <% end %></h3>

    <ul><% @member.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %></ul>
  </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :first_name, :input_html => { :disabled => @cas_authed } %>
    <%= f.input :last_name, :input_html => { :disabled => @cas_authed } %>
    <%= f.input :ugent_nr, :input_html => { :disabled => @cas_authed } %>
    <%= f.input :email %>
    <%= f.input :phone, :as => :phone %>
    <%= f.input :sex, :as => :radio,
                      :collection => {"Man" => "m", "Vrouw" => "f"}  %>
    <%= f.input :date_of_birth, :start_year => 1920, :end_year => Time.now.year %>
    <%= f.input :home_address, :as => :text,
                               :input_html => { :cols => 30, :rows => 3 } %>
    <%= f.input :studenthome_address, :as => :text,
                                      :input_html => { :cols => 30, :rows => 3 } %>
  <% end %>

  <%= f.inputs :for => :extra_attributes do |f| %>
    <%= render :partial => f.object.spec.field_type, :locals => {:f => f} %>
    
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button "Volgende stap" %>
  <% end %>

  <p class="disclaimer">
    Uw gegevens worden in ons bestand (FK Gent, Hoveniersberg 24 - 9000 Gent)
    opgenomen om u op de hoogte te houden van onze activiteiten. U kan uw gegevens
    steeds raadplegen, verbeteren of laten schrappen. Het FK verzekert dat uw
    gegevens niet zullen misbruikt worden en dat er strikte privacy maartregelen
    worden genomen.
  </p>
<% end %>
</div>
