<%= render :partial => "club" %>

<div class="content-main">
  <%= title "Lid worden van #{@club.name}" %>

  <p>Via deze website kan je je registreren als lid van de <strong><%= @club.name %></strong>,
    de <%= @club.description %>.</p>

  <p>Is dit niet de juiste kring? Ga dan terug naar de
    <%= link_to 'startpagina', root_path %>.</p>

  <p>Inschrijven kan met je UGentNet gebruikersnaam en wachtwoord, of met het
    stamnummer dat je op je studentenkaart vindt. Nog geen UGent gegevens?
    Je kan gerust later je gegevens nog aanvullen.</p>

  <% registration_path = registration_general_path(@club) %>
  <ul class="method-chooser">
    <li><a href="<%= url_for cas_auth_path(:redirect => registration_path) %>">
      Ik ken mijn <strong>UGentNet gebruikersnaam</strong> en <strong>wachtwoord</strong>.
    </a></li>
    <li><a href="<%= url_for registration_path %>">
      Ik gebruik het <strong>stamnummer op mijn studentenkaart.</strong>
    </a></li>
    <!-- <li><a href="<%= url_for registration_general_path(@club) %>">
      Ik heb nog geen UGent gegevens.
    </a></li>-->
  </ul>
</div>