<div class="club-shield">
  <%= image_tag(@club.shield_path) %>
</div>

<div class="content-main">
<%= title "Foto" %>

<%# TODO: uitleg van ISIC + opmerkingen voor geldige pasfoto %>

<%= semantic_form_for @member, :url => registration_photo_path(@club) do |f| %>
  <% if @member.photo? %>
    <%= image_tag @member.photo.url(:standard) %>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :photo %>
  <% end %>

  <%#
  TODO:
    * Upload via webcam (Seenly Core)
    * Upload via URL
  %>

  <%= f.buttons do %>
    <%= f.commit_button "Volgende stap" %>
  <% end %>
<% end %>

</div>
