<div class="club-shield">
  <%= image_tag(@club.shield_path) %>
</div>

<div class="content-main">
<%= title "Foto" %>

<%= form_for @member, :url => registration_photo_path(@club), :html => {:multipart => true} do |f| %>
  <%= f.file_field :photo %></br >
  <%= f.submit "Volgende stap" %>
<% end %>

</div>
