<p <%= raw(' style="display: none;"') if @filtered %>>
  <%= icon(:expand, 'Filter resultaten', '#') %>
</p>
<div id="filters" <%= raw(' style="display: none;"') if not @filtered %>>
  <p class="side-icons"><%= icon(:collapse, 'Filters verbergen', '#') %></p>
  <h3>Filter resultaten</h3>
  <%= semantic_form_for @membergrid,
        :method => :get, :url => submit_path do |f| %>
    <%= f.inputs do %>
      <%= f.input :first_name, :label => Member.human_attribute_name(:first_name) %>
      <%= f.input :last_name, :label => Member.human_attribute_name(:last_name) %>
      <%= f.input :ugent_nr, :label => Member.human_attribute_name(:ugent_nr) %>
      <%= f.input :card_number, :label => Card.human_attribute_name(:number) %>
      <%= f.input :email, :label => Member.human_attribute_name(:email) %>
      <%= f.input :card_holders_only, :as => :boolean, :label => "Enkel leden met kaartnummer?" %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button "Filteren" %>
      <li class="cancel"><%= link_to "Reset filters", submit_path %></li>
    <% end %>
  <% end %>
</div>

<table class="datagrid">
  <thead>
    <%= datagrid_header(@membergrid) %>
  </thead>
  <tbody>
    <%= datagrid_rows(@membergrid, @members, :cycle => ["odd", "even"]) %>
  </tbody>
</table>

<%= will_paginate @members %>
