<% title "Ledenbeheer" %>
<p><%= link_to "« Terug naar overzicht", backend_root_path %></p>

<p>
  <%= @registered_members %> geregistreerde leden, <%= @card_members %> leden met lidkaart.
  <div id="export-link">
    <%= render 'backend/members/export' %>
  </div>
  <%= tag :div, id: "export_status_url", data: {url: export_status_backend_members_path} %>

</p>

<%= render :partial => 'filter' ,:locals => {:submit_path => backend_members_path} %>
