<% title "Ledenbeheer" %>
<p><%= link_to "« Terug naar overzicht", backend_root_path %></p>

<p><%= @registered_members %> geregistreerde leden, <%= @card_members %> leden met lidkaart.</p>

<%= datagrid_table(@member_report, @members,
    :html => {:class => "datagrid"},
    :cycle => ["odd", "even"]) %>
<%= will_paginate @members %>
