<% title "Kassa: kaart koppelen" %>

<div class="member-wrapper">
  <%= render :partial => 'photo' %>
  <%= form_for @card, :url => pay_backend_member_path do |f| %>
  <dl>
    <dt>Naam:</dt>
    <dd><%= @member.name %></dd>

    <dt>Kaart-nummer:</dt>
    <dd>
      <%= @card.number? ? @card.number : raw("<em>nog geen kaart gekoppeld</em>") %>

      <% unless @card.number %>
          <%= f.text_field :number %>
          <% if not @card.errors.empty? %>
            <span class="field_with_errors">
              <%= @card.errors.full_messages.join ', ' %>
            </span>
          <% end %>
        <% end %>
    </dd>

    <dt>Status:</dt>
    <dd><%= human_card_status @card.status %></dd>

    <% if @club.uses_isic || @card.isic_status != 'none' %>
    <dt>ISIC:</dt>
    <dd><%= human_isic_status @card.isic_status %></dd>
    <% end %>
    <% if @member.isic_mail_card %>
    <dd><strong>Extra aanrekenen voor kaartverzending!</strong></dd>
    <% end %>

    <dd>
      <% if @card.status != 'paid' %>
        <%= f.submit (@card.number.blank? ? 'Koppelen en betalen' : 'Betalen') %>
      <% end %>
    </dd>

    <dd><%= link_to "Volgend lid »", backend_kassa_path %></dd>
  </dl>
  <% end %>
</div>
