<% title "Kassa: kaart koppelen" %>

<div class="member-wrapper">
  <%= render :partial => 'photo' %>
  <%= form_for @card, :url => pay_backend_member_path do |f| %>

  <dl>
    <dt>Naam:</dt>
    <dd><%= @member.name %></dd>

    <dt>Kaart-nummer:</dt>
    <dd>
      <% if @card.number? %>
        <%= @card.number %>
      <% elsif @club.uses_isic %>
        [tijdelijke kaart]
      <% else %>
        <em>nog geen kaart gekoppeld</em>
        <%= f.text_field :number %>
      <% end %>

      <% if not @card.errors.empty? %>
        <span class="field_with_errors">
          <%= @card.errors.full_messages.join ', ' %>
        </span>
      <% end %>
    </dd>

    <dt>Status:</dt>
    <dd><%= human_card_status @card.status %></dd>

    <% if @club.uses_isic || @card.isic_status != 'none' %>
    <dt>ISIC-status:</dt>
    <dd>
      <% if @card.isic_status == "revalidate" %>
        <%= f.select :isic_status, options_for_select({"nieuwe ISIC-kaart aanvragen" => "request" }) %>
      <% else %>
        <%= human_isic_status @card.isic_status %>
      <% end %>

      <% if @club.isic_mail_option == Club::ISIC_MAIL_CARD_OPTIONAL && @member.isic_mail_card %>
      <span class="order-notice">Kaart wordt opgestuurd: reken €1 extra aan!</span>
      <% end %>
    </dd>
    <% end %>

    <dd>
      <% if @card.status != 'paid' %>
        <%= f.submit 'Als betaald markeren' %>
      <% end %>
    </dd>

    <dd><%= link_to "Volgend lid »", backend_kassa_path %></dd>
  </dl>
  <% end %>
</div>
