<% title "Kassa: kaart koppelen" %>

<div class="member-wrapper">
  <%= render :partial => 'photo' %>
  <%= form_for @card, :url => pay_backend_member_path do |f| %>
  <dl>
    <dt>Naam:</dt>
    <dd><%= @member.name %></dd>

    <dt>Kaart-nummer:</dt>
    <dd>
      <% if @card.number? %>
        <%= @card.number %>
      <% elsif @club.uses_isic %>
        tijdelijke kaart
      <% else %>
        <em>nog geen kaart gekoppeld</em>
        <%= f.text_field :number %>
        <% if not @card.errors.empty? %>
          <span class="field_with_errors">
            <%= @card.errors.full_messages.join ', ' %>
          </span>
        <% end %>
      <% end %>
    </dd>

    <dt>Status:</dt>
    <dd><%= human_card_status @card.status %></dd>

    <% if @club.uses_isic || @card.isic_status != 'none' %>
    <dt>ISIC:</dt>
    <dd><%= human_isic_status @card.isic_status %></dd>
    <% end %>
    <% if @member.isic_mail_card %>
    <dd><strong>Kaart wordt opgestuurd: €1 extra aanrekenen!</strong></dd>
    <% end %>

    <dd>
      <% if @card.status != 'paid' %>
        <%= f.submit 'Betalen' %>
      <% end %>
    </dd>

    <dd><%= link_to "Volgend lid »", backend_kassa_path %></dd>
  </dl>
  <% end %>
</div>
