<% title @member.name %>
<p>
  <%= link_to "« Terug naar alle leden", backend_members_path %>,
  <%= link_to "betalingsinformatie aanpassen »", pay_backend_member_path(@member) %>
</p>

<h3>Basisgegevens</h3>
<div class="member-wrapper">
<%= render :partial => 'photo' %>

<dl>
  <dt>Kring:</dt><dd><%= @member.club.name %></dd>
  <dt>Geregistreerd op:</dt>
  <dd><%= l @member.created_at, :format => :long %></dd>
</dl>

<dl>
  <dt>Voornaam:</dt><dd><%= @member.first_name %></dd>
  <dt>Familienaam:</dt><dd><%= @member.last_name %></dd>
  <% if @member.sex? %>
  <dt>Geslacht:</dt>
  <dd><%= @member.sex == 'm' ? icon(:male, 'Man') : icon(:female, 'Vrouw') %></dd>
  <% end %>
  <% if @member.date_of_birth? %>
  <dt>Geboortedatum:</dt><dd><%= l @member.date_of_birth %></dd>
  <% end %>
  <dt>UGent-nummer:</dt><dd><%= @member.ugent_nr %></dd>
  <dt>E-mailadres:</dt><dd><%= mail_to @member.email %></dd>
  <% if @member.phone? %>
  <dt>GSM-nummer:</dt><dd><%= @member.phone %></dd>
  <% end %>
  <% if @member.home_street? %>
  <dt>Thuisadres:</dt><dd><%= @member.home_street %><br />
      <%= @member.home_postal_code %> <%= @member.home_city %></dd>
  <% end %>
  <% if @member.studenthome_street? %>
  <dt>Kotadres:</dt><dd><%= @member.studenthome_street %><br />
      <%= @member.studenthome_postal_code %> <%= @member.studenthome_city %></dd>
  <% end %>
</dl>
</div>

<h3>Extra vragen</h3>
<dl class="no-indent">
<% @extra_attributes.each do |attribute| %>
  <%= render_extra_attribute_value(attribute) %>
<% end %>
</dl>

<% @member.cards.reverse.each do |card| %>
<h3>Lidkaart <%= card.academic_year %>-<%= card.academic_year + 1 %></h3>

<dl>
  <dt>Nummer:</dt><dd><%= card.number %></dd>
  <dt>Status:</dt><dd>
    <%= human_card_status(card.status) %>
    <% if card.isic_status != 'none' %>
    (ISIC: <%= human_isic_status(card.isic_status) %>)
    <% end %>
  </dd>
</dl>
<% end %>
