<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "FaculteitenKonvent Gent" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="language" content="nl">
  <meta name="author" content="FaculteitenKonvent Gent" />
</head>
<body class="<%= generate_body_class %>">
  <div id="wrapper">
    <div id="header">
      <h1><%= link_to "FaculteitenKonvent Gent", backend_root_path %></h1>
    </div>

    <div id="main">
      <%= yield(:main_title) %>
      <div class="content">
        <%= render :partial => 'layouts/club' %>
        <div class="content-main">
          <% flash.each do |key, msg| %>
            <p class="flash <%= key %>"><%= msg %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="wrapper-footer"></div>
  </div>

  <div id="footer">
    <p><a href="http://fkgent.be">FaculteitenKonvent Gent</a> &bull;
      De Therminal, Hoveniersberg 24 - 9000 Gent, Belgium &bull;
      +32.9.264.70.93 &bull; info@fkgent.be</p>
    <p>FK-enrolment werd ontwikkeld door <a href="http://zeus.ugent.be">Zeus WPI</a>,
      de werkgroep informatica.</p>
  </div>
</body>
</html>
