<% title "Lid worden van #{@club.name}" %>
<%= render :partial => "layouts/club" %>

<div class="content-main">
  <p>Via deze website kan je je registreren als lid van de <strong><%= @club.name %></strong>,
    de <%= @club.description %>.</p>

  <p><%= simple_format(@club.info_text) unless @club.info_text.blank? %></p>

  <p>Is dit niet de juiste kring? Ga dan terug naar de
    <%= link_to 'startpagina', root_path %>.</p>

  <p>Inschrijven kan met je UGentNet gebruikersnaam en wachtwoord, of met het
    stamnummer dat je op je studentenkaart vindt. Nog geen UGent gegevens?
    Je kan gerust later je gegevens nog aanvullen.</p>

  <ul class="option-chooser">
    <li><a href="<%= cas_auth_path redirect: next_wizard_path %>">
      Ik ken mijn <strong>UGentNet gebruikersnaam</strong> en <strong>wachtwoord</strong>.
    </a></li>
    <li><a href="<%= eid_auth_path redirect: next_wizard_path %>">
      Ik gebruik mijn <strong>elektronische identiteitskaart</strong> (eID).
    </a></li>
    <li><a href="<%= next_wizard_path %>">
      Ik vul zelf al mijn gegevens in.
    </a></li>
  </ul>
</div>
