<% title "ISIC" %>
<%= render :partial => "layouts/club" %>

<div class="content-main">
  <%= render 'isic_info' %>

  <div id="form_container">
    <%= form_for @member, url: wizard_path,
        method: :put, html: { id: 'isic_form' } do |f| %>
      <%= f.hidden_field :card_type_preference, value: 'isic' %>
      <%= f.submit 'ISIC-kaart', class: 'yes-button' %>
      <% end %>

    <%= form_for @member, url: wizard_path,
        method: :put, html: { id: 'fk_form' } do |f| %>
      <%= f.hidden_field :card_type_preference, value: 'fk' %>
      <%= f.submit 'FK-kaart', class: 'no-button' %>
    <% end %>
  </div>
</div>
