<% title "ISIC" %>
<%= render :partial => "layouts/club" %>

<div class="content-main">
  <%= render 'isic_info' %>

  <%= form_for @member, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :card_type_preference, value: 'isic' %>
      <%= f.submit 'ISIC-kaart', class: 'option-button' %>
      <% end %>

  <%= form_for @member, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :card_type_preference, value: 'fk' %>
      <%= f.submit 'FK-kaart', class: 'option-button' %>
  <% end %>
</div>
