<% title "ISIC-lidkaart" %>
<%= render :partial => "layouts/club" %>

<div class="content-main">
  <p><%= image_tag('isic.jpg') %></p>

  <p>Jouw ISIC (International Student Identity Card) is de <strong>enige wereldwijd aanvaarde</strong>
  studenten- en voordelenkaart erkend door UNESCO.</p>
  <ul>
      <li>een voordelenkaart die je toegang geeft tot meer dan 25 <strong>permanente</strong> voordelen in Gent,
          meer dan 125 voordelen in België en 40.000 voordelen wereldwijd</li>
      <li>een bewijs dat je <strong>student hoger onderwijs</strong> bent</strong>
  </ul>
  <p>Jouw ISIC, haal eruit wat erin zit!</p>

  <%= simple_format(@club.isic_text) unless @club.isic_text.blank? %>

  <%# Extra message for early registrations %>
  <% if Time.now < Time.new(Member.current_academic_year,9,9) %>
  <p><strong>Vertrek je op Erasmus?</strong> Contacteer dan zo snel mogelijk
    je club na registratie, misschien kunnen we je je ISIC-kaart dan nog op tijd
    bezorgen en kan je genieten van de vele internationale ISIC voordelen!</p>
  <% end %>

  <%= semantic_form_for @member, :url => registration_isic_path(@club) do |f| %>
    <%= f.inputs :class => "inputs no-indent" do %>
    <%= f.input :isic_newsletter,
      :label => "Ja, ik wil op de hoogte blijven van de ISIC-wedstrijden
        en nieuwste ISIC-voordelen in mijn studentenstad." %>
    <% if @club.offer_isic_mail_option %>
    <%= f.input :isic_mail_card,
      :label => "Stuur mijn ISIC-lidkaart met de post op.",
      :hint => raw("Voor deze optie zal je €1 extra aangerekend worden aan de kassa.<br />
        Je kaart wordt opgestuurd naar het adres dat je op de vorige pagina opgegeven hebt.") %>
    <% end %>
    <% end %>

    <%= f.buttons :class => "buttons no-indent" do %>
      <%= f.commit_button "Volgende stap" %>
    <% end %>
  <% end %>
</div>
