<%= render :partial => "club" %>

<div class="content-main">
<%= title "ISIC-lidkaart: Pasfoto" %>

<% if @member.photo? %>
<div class="crop-wrapper">
  <h3>Foto bijsnijden</h3>

  <%= semantic_form_for @member, :url => registration_photo_path(@club) do |f| %>
    <%= image_tag @member.photo.url(:large), :id => "crop-image" %>

    <span>Voorbeeld:</span>
    <div id="crop-preview">
      <%= image_tag @member.photo.url(:large) %>
    </div>

    <%= f.inputs do %>
      <% for crop_attr in [:crop_x, :crop_y, :crop_w, :crop_h] %>
        <%= f.input crop_attr, :as => :hidden %>
      <% end %>
    <% end %>

    <%= f.buttons :class => "member no-indent" do %>
      <%= f.commit_button "Selectie vastleggen" %>
    <% end %>
  <% end %>
</div>

<h3>Een andere foto kiezen?</h3>
<% end %>

<div id="seenly-modal" title="Foto via webcam">
  <div id="seenly-embed-wrapper"><div id="seenly-embed">
    <p><a href="http://www.adobe.com/go/getflashplayer">
      <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
           alt="Get Adobe Flash player" />
    </a></p>
  </div></div>
  <p>
    <input type="button" id="seenly-snap" value="Foto nemen" />
    <input type="button" id="seenly-submit" value="Verzenden" disabled="disabled" />
  </p>
</div>

<p>Om je ISIC geldig te maken over de gehele wereld hebben we een foto nodig:
deze zal gedrukt worden op de kaart. Dit dient een duidelijk pasfoto te zijn
zoals (1). Pasfoto's als (2), (3) of (4) zullen niet worden aanvaard.</p>

<p><%= image_tag "correct-photo.jpg" %></p>

<%= semantic_form_for @member, :url => registration_photo_path(@club) do |f| %>
  <%= f.inputs do %>
    <%= f.input :photo %>

    <%= f.input :photo_base64, :as => :hidden %>

    <li class="file optional">
      <label>Webcam</label>
      <a href="#webcam" class="seenly">Foto met webcam nemen</a>
    </li>

    <%= f.input :photo_url, :input_html => { :placeholder => "http://" } %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button "Foto doorsturen" %>
  <% end %>
<% end %>

</div>
