<%= render :partial => "layouts/club" %>

<div class="content-main">
  <% title "Registratie voltooid" %>

  <% if @club.confirmation_text? %>
    <%= simple_format(@club.confirmation_text) %>
  <% else %>
  <p>Je inschrijving is goed ontvangen. De volgende stap
    is je te begeven naar de boekenverkoop/permanentie van je kring en
    je lidgeld te betalen. Wanneer dit gebeurd is zal de inschrijving voltooid zijn.
  </p><p>
    Voor meer informatie over de datum van boekenverkopen/permanenties
    en de prijzen van het lidgeld verwijzen we je naar de
    <%= link_to "website van je kring", @club.url %> of naar het <%= link_to "FK boekensysteem", "http://boeken.fkgent.be/" %>.
  </p>
  <% end %>

  <%# Log user out after registration, useful on shared computers %>
  <iframe src="<%= cas_logout_path %>" class="hidden"></iframe>
</div>
